html,
body {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}

b {
  font-weight: bold;
}

#main-ui {
  display: none;
}

#loginNotification {
  display: none;
  padding: 3px;
  color: #f81616;
}

#addVendorNotification,
#editVendorNotification,
#paymentNotification,
#reportNotification
 {
  display: none;
  padding: 3px;
  color: #030303;
}
#editVendorNotification{
margin: 10px;
}
#logout-form {
  display: none;
  position: relative;
}

#auth-section {
  position: relative;
}

#vendorSection {
  display: none;
}

#viewSection {
  display: none;
}

#paymentSection {
  display: none;
}

#reportSection {
  display: none;
}

#reportVendorSelect {
  display: none;
}

#reportAccountSelect {
  display: none;
}

#scheduleDetails {
  margin-top: 10px;
  display: none;
}

#editVendorForm {
  margin-top: 20px;
  display: none;
}

#editScheduleDetails {
  margin-top: 10px;
  display: none;
}

#saveBtn {
  margin-top: 10px;
}

#addVendorBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#homePage {
  margin-top: 50px;
}

#homePage button {
  display: block;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
}

.generateReport {
  margin-left: 4px;
  margin-top: 10px;
}

.vendorButton {
  margin-top: 10px;
}

.authInput {
  display: block;
  margin: 5px 0;
  padding: 6px;
  width: 90%;
  max-width: 250px;
}

.authButton {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.authLogoutButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.paymentStyle {
  display: block;
  margin-bottom: 10px;
}

#vendorList {
  margin-bottom: 10px;
}

#payBtn {
  margin-bottom: 10px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 22px;
  }

  h1,
  h2,
  h3 {
    font-size: 1.8em;
  }

  button,
  input,
  label {
    font-size: 1.4em;
  }
}
